h5.question_title{
  font-weight: bold;
  color: #fd443f;
  border-bottom: 2px solid #fd443f;
}

span.easy, span.medium, span.hard, span.extend{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

span.easy {
  background-color: green;
}

span.medium {
  background-color: orange;
}

span.hard {
  background-color: red;
}

span.extend {
  background-color: yellow;
}
